html,
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(95, 210, 255);
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  margin-left: 2.5vw;
}

.cardsContainer {
  border: 2px solid black;
  width: 95vw;
  height: 80vh;
  margin: 0 2.5vw;
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-sizing: border-box;
  width: 20%;
  height: 50%;
  border: 1px solid grey;
}
